@import 'nib'

body
	font-family $ff-or
	line-height 1.4
	color #a1a1a1

h1
	margin-bottom 30px
	font-family $ff-mb
h2
	font-family $ff-mb
	font-weight normal
	font-family $ff-mb
	color #464646
h3
	margin-bottom 10px
	font-family $ff-mb
	color #464646

img
	max-width 100%

a
	&:link
		text-decoration none
	&:visited
	&:hover
	&:active
		text-decoration underline


.in
	margin auto
	max-width 61.8125rem
	

.browserupgrade
	padding 10px 0 
	background red
	color white 
	text-align center
	font normal 14px/22px $ff-or
	strong 
		font-weight bold
	a
		display inline-block
		background #800000 
		color white
		font-weight bold
		&:hover
			text-decoration none





