section.how
	.how-in
		h2.how-title How we work
		p.how-text
			| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
		.how-steps
			.how-steps-circle._top
			.how-step._step-1
				.how-step-1
					h3.how-step-title Client contact us
					p.how-step-text This is Photoshop's version of Lorem ipsum.
			.how-step._step-2
				.how-step-2
					h3.how-step-title We will discuss what do yo want
					p.how-step-text This is Photoshop's version of Lorem ipsum.
			.how-steps-circle._bottom
		.how-button
			a.button._style-2(href="#") See all how we work
