section.partners
	.partners-in
		ul.partners-ul
			li.partners-li._style-1
				a.partners-a(href="#") Nasa
			li.partners-li._style-2
				a.partners-a(href="#") Jaxa
			li.partners-li._style-3
				a.partners-a(href="#") Boeing
			li.partners-li._style-4
				a.partners-a(href="#") Cnn
