section.services
	.services-in
		ul.services-ul
			li.services-li
				.services-i-img
					span.services-i-icon._icon-1
				h2.services-i-title Web Design
				p.services-i-text
					| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. mauris.
			li.services-li
				.services-i-img
					span.services-i-icon._icon-2
				h2.services-i-title Logo Design
				p.services-i-text
					| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. mauris.
			li.services-li
				.services-i-img
					span.services-i-icon._icon-3
				h2.services-i-title Print Design
				p.services-i-text
					| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. mauris.
