section.team
	.team-in
		h2.team-title Meet the team
		p.team-text
			| This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel velit auctor aliquet.
		ul.team-ul
			li.team-li
				.team-i-pic
					img(src="assets/images/hi-res/team-1_2x.jpg" alt="team1")
				h3.team-i-title Afnizar Nur Ghifari
				p.team-i-text Chief Executive Officer
				ul.team-social
					li.team-social-i
						a.team-social-a._fb facebook
					li.team-social-i
						a.team-social-a._tw twitter
					li.team-social-i
						a.team-social-a._db dribbble
			li.team-li
				.team-i-pic
					img(src="assets/images/hi-res/team-2_2x.jpg" alt="team1")
				h3.team-i-title Henry Phillips
				p.team-i-text Black Belt UI/UX Strategist
				ul.team-social
					li.team-social-i
						a.team-social-a._fb facebook
					li.team-social-i
						a.team-social-a._tw twitter
					li.team-social-i
						a.team-social-a._db dribbble
			li.team-li
				.team-i-pic
					img(src="assets/images/hi-res/team-3_2x.jpg" alt="team1")
				h3.team-i-title Gerald Elliott
				p.team-i-text Lead User Experience Manager
				ul.team-social
					li.team-social-i
						a.team-social-a._fb facebook
					li.team-social-i
						a.team-social-a._tw twitter
					li.team-social-i
						a.team-social-a._db dribbble
			li.team-li
				.team-i-pic
					img(src="assets/images/hi-res/team-4_2x.jpg" alt="team1")
				h3.team-i-title Read Alexander
				p.team-i-text Lead User Experience Manager
				ul.team-social
					li.team-social-i
						a.team-social-a._fb facebook
					li.team-social-i
						a.team-social-a._tw twitter
					li.team-social-i
						a.team-social-a._db dribbble



