section.testimonials
	.testimonials-in
		h2.testimonials-title Testimonials
		p.testimonials-text 
			| This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel velit auctor aliquet.
		.testimonials-quote
			.quote-pic
				img(src="assets/images/hi-res/client-pic_2x.jpg" alt="user-pic")
			.quote-content
				h3.quote-title Neil Armstrong / <span>1st man walk on the moon</span>
				p.quote-text
					| <span class="quote-char">&quot;</span>Orion is great, you should try it. The component is very easy to understand, the value is great too. And last but not least, orion is my favorite services.<span class="quote-char">&quot;</span>
