section.work
	.work-in
		h2.work-title Our work
		p.work-text
			| This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
		.work-slider
			ul.work-ul
				li.work-li
					a.work-a(href="#")
						figure.work-figure
							img.work-img(src="assets/images/hi-res/work1_2x.jpg" alt="work")
							figcaption.work-caption Sylabus
				li.work-li
					a.work-a(href="#")
						figure.work-figure
							img.work-img(src="assets/images/hi-res/work2_2x.jpg" alt="work")
							figcaption.work-caption Contest
				li.work-li
					a.work-a(href="#")
						figure.work-figure
							img.work-img(src="assets/images/hi-res/work3_2x.jpg" alt="work")
							figcaption.work-caption Travel
				li.work-li
					a.work-a(href="#")
						figure.work-figure
							img.work-img(src="assets/images/hi-res/work4_2x.jpg" alt="work")
							figcaption.work-caption Shop
			.work-slider-pag
				a.work-slider-pag-i._left(href="#") Back
				a.work-slider-pag-i._right(href="#") Next
