extends ../layouts/default

block head
	- pageTitle = 'CSSSR Project Template';

block scripts
	//- +script(['common.js'])

block content
	include ../blocks/services
	include ../blocks/how
	include ../blocks/work
	include ../blocks/testimonials
	include ../blocks/team
	include ../blocks/map
	include ../blocks/partners
	
