footer.footer
	.footer-in
		.footer-left
			.footer-list
				h3.footer-list-title Value
				ul.footer-ul
					li.footer-li 
						a.footer-a(href="#") About
					li.footer-li 
						a.footer-a(href="#") Faq
					li.footer-li 
						a.footer-a(href="#") Blog
					li.footer-li 
						a.footer-a(href="#") Service
					li.footer-li 
						a.footer-a(href="#") Customer
			.footer-list
				h3.footer-list-title Affiliate
				ul.footer-ul
					li.footer-li 
						a.footer-a(href="#") Nasa
					li.footer-li 
						a.footer-a(href="#") Jaxa Japan
					li.footer-li 
						a.footer-a(href="#") Boeing
					li.footer-li 
						a.footer-a(href="#") Abc networks
			.footer-list
				h3.footer-list-title Social
				ul.footer-ul
					li.footer-li 
						a.footer-a(href="#") Facebook
					li.footer-li 
						a.footer-a(href="#") Dribbble
					li.footer-li 
						a.footer-a(href="#") Twitter
		.footer-right
			.footer-subscribe
				h3.footer-subscribe-title Get served
				form.footer-subscribe-form(action="#" method="post")
					input.footer-subscribe-input(type="text" name="email" value="user@email.com")
					input.footer-subscribe-submit(type="submit" value="Go")
			.footer-copyright
				| Orion Theme &copy; Afnizar Nur Ghifari <br>
				| Made with love <span class="footer-copyright-icon"></span>