<!--[if lte IE 8]>
p.browserupgrade Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите свой браузер</a> чтобы сайт заработал.
<![endif]-->
header.header
	.header-top
		.header-top-in
			a.header-logo(href='#') Orion
			nav.header-nav
				a.header-nav-button.button._style-1.js-nav_btn Menu
				ul.header-nav-ul.js-nav
					li.header-nav-i
						a(href='#') Services
					li.header-nav-i
						a(href='#') How
					li.header-nav-i
						a(href='#') Ourwork
					li.header-nav-i
						a(href='#') Testimonials
					li.header-nav-i
						a(href='#') Team
					li.header-nav-i
						a(href='#') Contact us
			a.header-top-control.button._style-1(href="#") Sign in
	.header-slider
		.header-body._style-1
			h1.header-title Let's explore the sky!
			p.header-slogan This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel yelit auctor aliquet.
			.header-buttons
				a.header-button-i._style-1(href="#") Learn more
				span.header-buttons-sep or
				a.header-button-i._style-2(href="#") Contact us
		.header-body._style-2
			h1.header-title Let's explore the sky!
			p.header-slogan This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel yelit auctor aliquet.
			.header-buttons
				a.header-button-i._style-1(href="#") Learn more
				span.header-buttons-sep or
				a.header-button-i._style-2(href="#") Contact us
		.header-body._style-3
			h1.header-title Let's explore the sky!
			p.header-slogan This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel yelit auctor aliquet.
			.header-buttons
				a.header-button-i._style-1(href="#") Learn more
				span.header-buttons-sep or
				a.header-button-i._style-2(href="#") Contact us
		.header-body._style-4
			h1.header-title Let's explore the sky!
			p.header-slogan This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel yelit auctor aliquet.
			.header-buttons
				a.header-button-i._style-1(href="#") Learn more
				span.header-buttons-sep or
				a.header-button-i._style-2(href="#") Contact us
		.header-body._style-5
			h1.header-title Let's explore the sky!
			p.header-slogan This is Photoshop's version of Lorem ipsum. Proin gravida nibh vel yelit auctor aliquet.
			.header-buttons
				a.header-button-i._style-1(href="#") Learn more
				span.header-buttons-sep or
				a.header-button-i._style-2(href="#") Contact us
	.header-pag
		//- ul.header-pag-ul
		//- 	li.header-pag-li.header-pag-li-active
		//- 		a.header-pag-a(href="#") 1
		//- 	li.header-pag-li
		//- 		a.header-pag-a(href="#") 2
		//- 	li.header-pag-li
		//- 		a.header-pag-a(href="#") 3
